/* Body */

body {
    width: 100%;
    height: 100%;
}

/* Menu Princial */

.menu-principal {
    background-color: #252323;
    height: 60px;
    width: 100%;
    float: left;
}

ul {
    padding-left: 0px;
}

.center {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.center2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #ffffff;
    border-bottom: 4px solid;
    border-color: #efefef;
    color: #8b8b8b;
}

/* Redes Sociais */

.social li a:hover{
    border-bottom: 2px solid;
    border-color: #00bac6;
}

.logo {
    float: left;
    width: 77%;
}

.logo-icon {
    opacity: 100%;
    transition: 100ms;
}

.logo-icon:hover {
    opacity: 75%;
    transition: 100ms;
}

.social li {
    display: inline-block;
    margin-left: 25px;
}

.rede-social{
    opacity: 50%;
    transition: 1000ms;
}

.rede-social:hover{
    opacity: 100%;
    transition: 250ms;
}

/* Menu Secundário (Páginas e Guias) */

.menu-secundario {
    height: 80px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.line-bottom {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

.menu-home ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 14px;
    transition: 750ms;
}

.menu-home ul li a:hover{
    color: #00bac6;
    text-decoration: none;
    font-size: 14px;
    transition: 150ms;
}

.menu-home ul li:hover{
    border-bottom: 4px solid;
    border-color: #00bac6;
    height: 48px;
}

.menu-home {
    width: 70%;
    float: left;
    margin-top: 16px;
    position: absolute;
}

/* Searchbox */

.searchbox input {
    background-image: url('../img/search-icon.png');
    background-repeat: no-repeat;
    background-position: 95%;
    width: 190px;
    height: 32px;
    margin-top: 22px;
    padding-left: 22px;
    border: 1px solid;
    border-color: #d6d6d6;
    transition: 650ms;
    float: right;
}

.searchbox input:hover {
    border: 1px solid;
    border-color:#00bac6;
    transition: 400ms;
}

.searchbox input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 1px solid;
    border-color:#00bac6;
}

/* Slider */

button.slick-prev {
    font-size: 0px;
    border: none;
    height: 51px;
    width: 25px;
    background: transparent;
    background-image: url('../img/left-arrow.png');
    position: absolute;
    z-index: 9;
    top: 187px;
    left: 193px;
    cursor: pointer;
    transition: 200ms;
}

button.slick-next {
    font-size: 0px;
    border: none;
    height: 51px;
    width: 25px;
    background: transparent;
    background-image: url('../img/right-arrow.png');
    position: absolute;
    z-index: 9;
    top: 187px;
    right: 193px;
    cursor: pointer;
    transition: 200ms;
}

button.slick-next:hover {
    opacity: 50%;
    transition: 300ms;
}

button.slick-prev:hover {
    opacity: 50%;
    transition: 300ms;
}

.slick-list {
    width: 100%!important;
}

.slick-initialized {
    overflow: hidden;
}

.slick-dots {
    margin-left: 640px;
    position: absolute;
    top: 392px;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots li button {
    font-size: 0px;
    border: 4px solid #ffffff;
    background:transparent;
    border-radius: 60%;
    height: 20px;
    cursor: pointer;
    margin-right: 8px;
    transition: 200ms;
}

.slick-dots li button:hover {
opacity: 50%;
}

li.slick-active button {
background: #00bac6;
transition: 400ms;
}

li.slick-active button:hover{
    background: #00bac6;
    opacity: 100%;
}

div.text-slider-1 {
    color: #ffffff;
    text-align: center;
    position: relative;
    font-size: 40px;
    padding-left: 280px;
    padding-right: 280px;
    margin-bottom: -45px;
    bottom: 310px;
}

div.text-slider-2 {
    color: #ffffff;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding-left: 280px;
    padding-right: 280px;
    margin-bottom: -47px;
    bottom: 245px;
}

div.image-slider img {
    width: 100%;
    height: 454px;
}

div.image-slider {
    height: 454px;
}

/* Dropdown Menu */

.menu-home ul li ul {
    display: none;
    position: absolute;
}

.menu-home ul li:hover ul {
    display:block;

    transition: 300ms;
}

div ul.dropdown-menu {
    position: absolute;
    background-color: #00bac6;
    z-index: 1;
}

ul.dropdown-menu {
    padding-right: 61px;
    left: 219px;
    margin-top: 28px;
    position: absolute;
}

div ul.dropdown-menu li a:hover {
    color: #ffffff;
    display: block;
}

ul.dropdown-menu {
    color: #ffffff;
    height: 100px;
}

